@model Dojodachi

<div class="text-center container">
  <p class="d-flex justify-content-around display-stats">Fullness: @Model.Fullness Happiness: @Model.Happiness Energy: @Model.Energy Meal: @Model.Meal</p>
  <div class="display-pet">
    <img src="~/images/win-cat.png" alt="Ninja Cat">
    <p class="prompt text-center">@ViewBag.Message</p>
  </div>
  <div class="d-flex justify-content-around mt-4">
    <form asp-action="Index" asp-Controller="Dojodachi" method="get" class="d-inline-flex">
      <a asp-action="Index" asp-Controller="Dojodachi" class="btn btn-dark">Restart?</a>
    </form>
  </div>
</div>